@import '../styles/custom.scss';

.form-title {
    color: var(--mdc-theme-on-surface);
    padding-top: 16px;
}
.form-sub {
    color: var(--mdc-theme-on-surface);
    font-size: smaller;
    font-style: italic;
}
#btnCalc {
    background: var(--mdc-theme-secondary);
    color: var(--mdc-theme-background);
    margin: 1em 0 0 0;
}
.mdc-button--dense {
    min-width: 20px;
    margin: 0;
    padding: 0;
    color: var(--mdc-theme-on-surface);
}
.input-field{
    width: 100%;
    margin: 0.25em;
}

input, select {
    // background-color: $color-primary;
    text-align: center;
}

[mdcCard] {
    min-width: 400px;
    max-width: 100%;
    width: 400px;
    color: var(--mdc-theme-on-surface);

    .custom-card-group-heading {
        font-size: 0.875em;
        padding: 8px 16px;
        text-align: center;
    }

    th {
        text-align: end;
        width: 150px;
    }
    th sub {
        font-weight: normal;
    }
    td {
        text-align: start;
    }
    th, td{
        padding: 0.375em 1em;
    }
    margin: 1em 0 0 0;
}

.mdc-select__native-control option {
    color: black;
    background: white;
}