<div fxLayout="row wrap">
    <div fxFlex="100%" fxFlex.gt-md="50%" fxLayout="row wrap" fxLayoutAlign="space-around start">    
        <div fxFlex="30">
            <div mdcSelect class="input-field">
                <select mdcSelectControl [(ngModel)]="star" (change)="onStarChange()">
                    <option value="6" selected>6★</option>
                    <option value="5">5★</option>
                    <option value="4">4★</option>
                    <option value="3">3★</option>
                    <option value="2">2★</option>
                    <option value="1">1★</option>
                </select>
                <label mdcFloatingLabel class="mdc-floating-label--float-above">Rarity</label>
            </div>
        </div>

        <div fxFlex="30">
            <div mdcSelect class="input-field">
                <select mdcSelectControl [(ngModel)]="lsMap" (change)="onLSChange()">
                    <option value="5" selected>LS-5</option>
                    <option value="4" selected>LS-4</option>
                    <option value="3" selected>LS-3</option>
                </select>
                <label mdcFloatingLabel class="mdc-floating-label--float-above">Tactical Drill</label>
            </div>
        </div>

        <div fxFlex="30">
            <div mdcSelect class="input-field">
                <select mdcSelectControl [(ngModel)]="ceMap" (change)="onCEChange()">
                    <option value="5" selected>CE-5</option>
                    <option value="4" selected>CE-4</option>
                    <option value="3" selected>CE-3</option>
                </select>
                <label mdcFloatingLabel class="mdc-floating-label--float-above">Cargo Escort</label>
            </div>
        </div>

        <div fxFlex="30">
            <div mdcTextField dense class="input-field">
                <span>
                    <button mdcButton dense (click)="onEvolveChange(false,false)">
                        <i mdcButtonIcon class="material-icons">remove</i>
                    </button>
                </span>
                <span>
                    <input mdcTextFieldInput #input1="ngModel" type="number" [(ngModel)]="currentEvolve" placeholder="Current Elite">
                    <label mdcFloatingLabel class="mdc-floating-label--float-above">Current Elite</label>
                </span>
                <span>
                    <button mdcButton dense (click)="onEvolveChange(false,true)">
                        <i mdcButtonIcon class="material-icons">add</i>
                    </button>
                </span>
            </div>
        </div>

        <div fxFlex="30">
            <div mdcTextField dense class="input-field">
                <span>
                    <button mdcButton dense (click)="currentLvl=1">
                        <i mdcButtonIcon class="material-icons">first_page</i>
                    </button>
                </span>
                <span>
                    <input mdcTextFieldInput #input1="ngModel" type="number" [(ngModel)]="currentLvl" placeholder="Current Level">
                    <label mdcFloatingLabel class="mdc-floating-label--float-above">Current Level</label>
                </span>
                <span>
                    <button mdcButton dense (click)="toMaxLvl(true)">
                        <i mdcButtonIcon class="material-icons">last_page</i>
                    </button>
                </span>
            </div>
        </div>

        <div fxFlex="30">
            <div mdcTextField dense class="input-field">
                <span>
                    <input mdcTextFieldInput #input1="ngModel" type="number" [(ngModel)]="currentExp" placeholder="Current EXP">
                    <label mdcFloatingLabel class="mdc-floating-label--float-above">Current EXP</label>
                </span>
                <span>
                    <button mdcButton dense (click)="currentExp=0">
                        <i mdcButtonIcon class="material-icons">close</i>
                    </button>
                </span>
            </div>
        </div>

        <div fxFlex="30">
            <div mdcTextField dense class="input-field">
                <span>
                    <button mdcButton dense (click)="onEvolveChange(true,false)">
                        <i mdcButtonIcon class="material-icons">remove</i>
                    </button>
                </span>
                <span>
                    <input mdcTextFieldInput #input1="ngModel" type="number" [(ngModel)]="targetEvolve" placeholder="Target Elite">
                    <label mdcFloatingLabel class="mdc-floating-label--float-above">Target Elite</label>
                </span>
                <span>
                    <button mdcButton dense (click)="onEvolveChange(true,true)">
                        <i mdcButtonIcon class="material-icons">add</i>
                    </button>
                </span>
            </div>

        </div>

        <div fxFlex="30">
            <div mdcTextField dense class="input-field">
                <span>
                    <button mdcButton dense (click)="targetLvl=1">
                        <i mdcButtonIcon class="material-icons">first_page</i>
                    </button>
                </span>
                <span>
                    <input mdcTextFieldInput #input1="ngModel" type="number" [(ngModel)]="targetLvl" placeholder="Target Level">
                    <label mdcFloatingLabel class="mdc-floating-label--float-above">Target Level</label>
                </span>
                <span>
                    <button mdcButton dense (click)="toMaxLvl(false)">
                        <i mdcButtonIcon class="material-icons">last_page</i>
                    </button>
                </span>
            </div>
        </div>

        <div fxFlex="30">
            <div mdcTextField dense class="input-field">
                <span>
                    <input mdcTextFieldInput #input1="ngModel" type="number" [(ngModel)]="gold" placeholder="Current LMD">
                    <label mdcFloatingLabel class="mdc-floating-label--float-above">Current LMD</label>
                </span>
                <span>
                    <button mdcButton dense (click)="gold=0">
                        <i mdcButtonIcon class="material-icons">close</i>
                    </button>
                </span>
            </div>
        </div>

        <div fxFlex="100" fxLayoutAlign="center center">
            <div class="form-title" >Battle Records</div>
        </div>

        <div fxFlex="22">
            <div mdcTextField dense class="input-field">
                <span>
                    <input mdcTextFieldInput #input1="ngModel" type="number" [(ngModel)]="bookBasic" placeholder="Drill">
                    <label mdcFloatingLabel class="mdc-floating-label--float-above">{{isExsm?'Green':'Drill (Green)'}}</label>
                </span>
                <span>
                    <button mdcButton dense (click)="bookBasic=0">
                        <i mdcButtonIcon class="material-icons">close</i>
                    </button>
                </span>
            </div>

        </div>

        <div fxFlex="22">
            <div mdcTextField dense class="input-field">
                <span>
                    <input mdcTextFieldInput #input1="ngModel" type="number" [(ngModel)]="bookPrimary" placeholder="Frontline">
                    <label mdcFloatingLabel class="mdc-floating-label--float-above m-lvl-3">{{isExsm?'Blue':'Frontline (Blue)'}}</label>
                </span>
                <span>
                    <button mdcButton dense (click)="bookPrimary=0">
                        <i mdcButtonIcon class="material-icons">close</i>
                    </button>
                </span>
            </div>

        </div>

        <div fxFlex="22">
            <div mdcTextField dense class="input-field">
                <span>
                    <input mdcTextFieldInput #input1="ngModel" type="number" [(ngModel)]="bookMiddle" placeholder="Tactical">
                    <label mdcFloatingLabel class="mdc-floating-label--float-above m-lvl-4">{{isExsm?'Yellow':'Tactical (Yellow)'}}</label>
                </span>
                <span>
                    <button mdcButton dense (click)="bookMiddle=0">
                        <i mdcButtonIcon class="material-icons">close</i>
                    </button>
                </span>
            </div>

        </div>

        <div fxFlex="22">
            <div mdcTextField dense class="input-field">
                <span>
                    <input mdcTextFieldInput #input1="ngModel" type="number" [(ngModel)]="bookAdvanced" placeholder="Strategic">
                    <label mdcFloatingLabel class="mdc-floating-label--float-above ">{{isExsm?'Gold':'Strategic (Gold)'}}</label>
                </span>
                <span>
                    <button mdcButton dense (click)="bookAdvanced=0">
                        <i mdcButtonIcon class="material-icons">close</i>
                    </button>
                </span>
            </div>
        </div>
        
        <div fxFlex="100" fxLayoutAlign="center center" class="form-sub">
            <sub>Disclaimer: Due to inconsistency of drop rate, the exp gain per run will be average at 4200 for LS-3 and 5800 for LS-4, resulting a mere estimation on LS Sanity Cost. <u>LS-5 is unaffected</u> by such problem, and thus remain accurate.</sub>
        </div>
        
        <div fxFlex="100" fxLayoutAlign="center center">
            <span>
                <button mdcButton raised id="btnCalc" (click)="calc()">Calculate</button>
            </span>
        </div>
    </div>

    <div fxFlex="100%" fxFlex.gt-md="50%" fxLayout="row wrap" fxLayoutAlign="space-around start">
        <div mdcCard>
            <div class="custom-card-group-heading">{{star}}★ E{{currentEvolve}} LV{{currentLvl}} →
                E{{targetEvolve}} LV{{targetLvl}}</div>
            <hr mdcListDivider>
            <table>
                <tbody>
                    <tr>
                        <th>Total Sanity</th>
                        <td>
                            <b>{{math.ceil(lsAp+ceAp)}}</b> <sub> = {{math.ceil(lsAp)}} + {{math.ceil(ceAp)}}</sub>
                        </td>
                    </tr>
                    <tr>
                        <th>EXP</th>
                        <td>
                            <b>{{math.ceil(lvlupExp-expMinus>0?(lvlupExp-expMinus):0)}}</b> <sub> = {{math.ceil(lvlupExp)}} -
                            {{math.ceil(expMinus)}}</sub>
                        </td>
                    </tr>
                    <tr>
                        <th>LS <sub>Sanity Cost</sub></th>
                        <td>
                            <b>{{math.ceil(lsAp)}}</b> <sub> = {{lsCost}} * {{math.ceil(lsCount)}} runs</sub>
                        </td>
                    </tr>
                    <tr>
                        <th>LMD</th>
                        <td>
                            <b>{{math.ceil(lvlupGold+evolveGold-goldMinus>0?(lvlupGold+evolveGold-goldMinus):0)}}</b> <sub> =
                            {{math.ceil(lvlupGold+evolveGold)}} - {{goldMinus}}</sub>
                        </td>
                    </tr>
                    <tr>
                        <th>CE <sub>Sanity Cost</sub></th>
                        <td>
                            <b>{{math.ceil(ceAp)}}</b> <sub> = {{ceCost}} * {{math.ceil(ceCount)}} runs</sub>
                        </td>
                    </tr>
                    <tr>
                        <th>Leveling <sub>Cost</sub></th>
                        <td>
                            {{math.ceil(lvlupGold)}} <sub>LMD</sub>
                        </td>
                    </tr>
                    <tr>
                        <th>Promotion <sub>Cost</sub></th>
                        <td>
                            {{math.ceil(evolveGold)}} <sub>LMD</sub>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>